.bg-primary {
    background-color: hsl(217, 54%, 11%);
}

.bg-card {
    background-color: hsl(216, 50%, 16%);
}

.line-color {
    color: hsl(215, 32%, 27%);
}

.text-secondary {
    color: hsl(215, 51%, 70%);
}

.text-cyan {
    color: hsl(178, 100%, 50%);
}